body{
    background: url("../image/earth.jpeg");
    background-size: 100% 100%;
}

#login-box {
    width:30%;
    height:250px;
    margin:0 auto;
    margin-top:15%;
    text-align:center;
    background: #00000060;
    padding:20px 50px;
}

#login-box.form{
    margin-top: 50px;
}

#login-box.form.item{
    margin-top:15px;
}

#login-box .form .item i {
    font-size: 18px;
    color:#fff;
}

#login-box.form.item input{
    width:180px;
    font-size:18px;
    border:0;
    border-bottom: 2px solid #fff;
    padding:5px 10px;
    background: #ffffff00;
    color:#fff;
}


#login-box button {
    margin-top: 15px;
    width:180px;
    height: 30px;
    font-size:20px;
    font-weight: 700;
    color:#fff;
    background-image: linear-gradient(to right,#db3125 0%,#578bc3 100%);
    border:0;
    border-radius:15px;
}